<%- include('../partials/header'); -%>


<div class="background background-academic-space">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Publications</h1>
            <p class="text-white">Academic Space</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-6">
        <h2 class="section-title text-center mb-3">Academic Publications</h2>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2F8c7156da-4246-419b-9ef9-66c8c32d021d.jpg?dpr=1&fit=scale-down&source=next&width=700);" data-aos="flip-right">
        <div class="col-md-6 px-0">
          <h1 class="display-6 font-italic">Letter: Africa can decarbonise, but it must first decolonise its economy</h1>
          <p class="lead my-3">Post-colonial Africa suffers from three structural deficiencies: the lack of food sovereignty, energy sovereignty and high value-added manufacturing</p>
          <p class="lead mb-0"><a href="https://www.ft.com/content/1976ebc6-f366-42eb-ab18-e9c267d9abd6" style="color: white; outline: auto;" class="font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    
      <div class="row mb-2" data-aos="flip-right" data-aos-delay="100">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Discover Society</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Preparing for a Climate Refugee Tsunami: The Case for Climate Reparations</a>
              </h3>
              <div class="mb-1 text-muted">April 2021</div>
              <p class="card-text mb-auto">The Global North, however, does not face any of the above-mentioned constraints, and has the technological, logistical, and financial capabilities</p>
              <a href="https://discoversociety.org/2021/04/07/preparing-for-a-climate-refugee-tsunami-the-case-for-climate-reparations/" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="200">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Tax Justice Network</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Africa’s Path towards Resilience and Sovereignty: the Real Wakanda is within Reach</a>
              </h3>
              <div class="mb-1 text-muted">30 March 2021</div>
              <p class="card-text mb-auto">Africa was not colonised because it was poor, but rather precisely because it was and continues to be a very rich continent</p>
              <a href="https://taxjustice.net/2021/03/30/africas-path-towards-resilience-and-sovereignty-the-real-wakanda-is-within-reach/" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="300">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Real Progressives</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Stockholm+50 Pre-Summit Address on Global Just Transition from Fossil Fuels</a>
              </h3>
              <div class="mb-1 text-muted">June 9 2022</div>
              <p class="card-text mb-auto">What have we been doing for the last 10 years roughly? In the last 10 years the top 10 oil and gas companies have been</p>
              <a href="https://realprogressives.org/stockholm50-pre-summit-address-on-global-just-transition-from-fossil-fuels/" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="400">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">HIP Investor</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">The Monthly Green Jobs Report</a>
              </h3>
              <div class="mb-1 text-muted">April 2022</div>
              <p class="card-text mb-auto">The Monthly Green Jobs Report provides a monthly analysis of the momentum towards a greener economy. The sustainability data covers over 2,000 US publicly listed companies that is material to the business. The HIP Ratings, Pillars, and Metrics focus on health, wealth, earth, equality, trust, management practices and products and services</p>
              <a href="https://hipinvestor.com/green-jobs/" style="color: blue;">Continue reading</a>
            </div>
          </div>
        </div>

        <div class="col-md-6" data-aos="flip-right" data-aos-delay="500">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Real Progressives</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">A Riddle For Lawmakers</a>
              </h3>
              <div class="mb-1 text-muted">26 November 2021</div>
              <p class="card-text mb-auto">I’m the one the Fed wants to fight,
                they know not whence my appetite,
                I hide in plain sight, 
                garnering a lot of spite.
                
                They taunt me in every speech, 
                but I’m way out of their reach,</p>
              <a href="https://realprogressives.org/a-riddle-for-lawmakers/" style="color: blue;">Continue reading</a>
            </div>
          </div>
        </div>

        <div class="col-md-6" data-aos="flip-right" data-aos-delay="600">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Billy Blog</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Krugman’s cockroach views on Brazil and hyperinflation</a>
              </h3>
              <div class="mb-1 text-muted">June 15 2021</div>
              <p class="card-text mb-auto">They are examining recent claims by Paul Krugman that the Brazilian experience ratifies basic Monetarist theory that links excessive monetary expansion with inflation (and hyperinflation)</p>
              <a href="http://bilbo.economicoutlook.net/blog/?p=47672" style="color: blue;">Continue reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<%- include('../partials/footer'); -%>
