<%- include('../partials/header'); -%>


<div class="background-print-media">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Publications</h1>
            <p class="text-white">Print Media</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-6">
        <h2 class="section-title text-center mb-3">Print Media</h2>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://www.jeuneafrique.com/cdn-cgi/image/q=100,f=auto,metadata=none,width=1256,height=628/https://www.jeuneafrique.com/medias/2022/11/30/jad20221130-portrait-eco-marouane-el-abassi-1256x628-1670420821.jpg); background-size: cover;" data-aos="flip-right">
        <div class="col-md-6 px-0">
          <h1 class="display-6 font-italic">Tunisie : Marouane Abassi, un capitaine de la finance seul dans la tempête</h1>
          <p class="lead my-3"> Depuis sa nomination en 2018, le gouverneur de la Banque centrale de Tunisie est le référent financier du pays. Salué pour sa capacité à maintenir le pays à flot,</p>
          <p class="lead mb-0"><a href="https://www.jeuneafrique.com/1396313/economie/tunisie-marouane-abassi-un-capitaine-de-la-finance-seul-dans-la-tempete/?fbclid=IwAR3wI4qGyu7WigJTFDXy25smecfQ5NIX0gXYbr7AT9HJyM-5WXigTfqFhC8" style="color: white; outline: auto;" class="font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    
      <div class="row mb-2" data-aos="flip-right" data-aos-delay="100">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Vrij Nederland</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">“How Europe is colonizing the North African energy market</a>
              </h3>
              <div class="mb-1 text-muted">9 November 2022</div>
              <p class="card-text mb-auto">I’m the one the Fed wants to fight, they know not whence my appetite, I hide in plain sight, garnering a lot of spite. They taunt me in every speech, but I’m way out of their reach</p>
              <a href="https://www.vn.nl/noord-afrikaanse-energiemarkt/" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="200">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">New Click India</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Universalise Public Services, Fund Job Guarantee, Provide Generous Income Support’</a>
              </h3>
              <div class="mb-1 text-muted">22 October 2022</div>
              <p class="card-text mb-auto">In the second and last part of the interview, MMT economist Fadhel Kaboub explains why and how India should urgently work on an alternative framework of development that leaves no one behind.</p>
              <a href="https://www.newsclick.in/Universalise-Public-Services-Fund-Job-Guarantee-Provide-Generous-Income-Support" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="300">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">New Click India</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">There’s a Whole Ideological Package That Goes With Raising Interest Rates: Fadhel Kaboub</a>
              </h3>
              <div class="mb-1 text-muted">21 October 2022</div>
              <p class="card-text mb-auto">In a two-part interview, Fadhel Kaboub, Associate Professor of Economics at Denison University, Ohio, speaks of Modern Monetary Theory’s relevance for emerging countries like India.</p>
              <a href="https://www.newsclick.in/There-Whole-Ideological-Package-That-Goes-Raising-Interest-Rates-Fadhel-Kaboub" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="400">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Weltreporter</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">“In Tunisia, the economic crisis is coming to a head. Can a new IMF loan help?</a>
              </h3>
              <div class="mb-1 text-muted">October 13, 2022</div>
              <p class="card-text mb-auto">Versorgungsengpässe, Inflation, Auslandsschulden: Das Land steckt in der Krise und ein Ausweg aus der Schuldenspirale ist kaum in Sicht</p>
              <a href="https://www.riffreporter.de/de/international/tunesien-wirtschaftskrise-haushaltsdefizit-schuldenspirale-iwf-kredit-lebensmittel-benzin?fbclid=IwAR0mH4R08NXKdbIlNtzi2-7JQlzTQx69CSOlPlEUTJYxYk0yXDnD2mcx1y8" style="color: blue;">Continue reading</a>
            </div>
          </div>
        </div>

        <div class="col-md-6" data-aos="flip-right" data-aos-delay="500">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Alqatiba </strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">From the sugar crisis to the gasoline crisis: Tunisians’ struggle with populist illusions and economic challenges</a>
              </h3>
              <div class="mb-1 text-muted">October 13, 2022</div>
              <p class="card-text mb-auto">على الرغم من إعلانه شن حرب شعواء ضد من أسماهم المحتكرين والمضاربين، فإن نتائج السياسة المتبعة من قبل الرئيس قيس سعيد بدت عكسية حيث ما انفك الشعب التونسي يواجه أزمة تلو أخرى في علاقة بشح بعض المواد الأساسية وغلاء البعض الآخر بشكل مستعر. فكيف يمكن تفسير هذه المفارقة؟</p>
              <a href="https://alqatiba.com/2022/10/13/%D9%85%D9%86-%D8%A3%D8%B2%D9%85%D8%A9-%D8%A7%D9%84%D8%B3%D9%83%D8%B1-%D8%A5%D9%84%D9%89-%D8%A3%D8%B2%D9%85%D8%A9-%D8%A7%D9%84%D8%A8%D9%86%D8%B2%D9%8A%D9%86-%D9%85%D8%AD%D9%86%D8%A9-%D8%A7%D9%84%D8%AA/" style="color: blue;">Continue reading</a>
            </div>
          </div>
        </div>

        <div class="col-md-6" data-aos="flip-right" data-aos-delay="600">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Deutsche Welle</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Mahsa Amini… Solidarity with Arab activists and invoking the memory of Bouazizi</a>
              </h3>
              <div class="mb-1 text-muted">October 11, 2022</div>
              <p class="card-text mb-auto">The echoes of the ongoing protests in Iran over the death of the Kurdish young woman, Mahsa Amini, after she was detained by what is known as the "morality police", were not far from the Arab world</p>
              <a href="https://www.dw.com/ar/%D9%85%D9%87%D8%B3%D8%A7-%D8%A3%D9%85%D9%8A%D9%86%D9%8A-%D8%AA%D8%B6%D8%A7%D9%85%D9%86-%D9%86%D8%A7%D8%B4%D8%B7%D8%A7%D8%AA-%D9%88%D9%86%D8%B4%D8%B7%D8%A7%D8%A1-%D8%B9%D8%B1%D8%A8-%D9%88%D8%A7%D8%B3%D8%AA%D8%AD%D8%B6%D8%A7%D8%B1-%D9%84%D8%B0%D9%83%D8%B1%D9%89-%D8%A7%D9%84%D8%A8%D9%88%D8%B9%D8%B2%D9%8A%D8%B2%D9%8A/a-63407731" style="color: blue;">Continue reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<%- include('../partials/footer'); -%>
