<%- include('../partials/header'); -%>


<div class="background-video">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Publications</h1>
            <p class="text-white">Videos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-6">
        <h2 class="section-title text-center mb-3">Videos</h2>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
  
        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="100">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=MHutQpu0Aac" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/MHutQpu0Aac/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>
  
        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="200">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=cUnfQBBBIuA" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/cUnfQBBBIuA/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>

        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="300">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=HXv8STXCAeM" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/HXv8STXCAeM/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>
  
        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="400">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=OEhBNMTcjTw" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/OEhBNMTcjTw/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>

        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="500">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=VeR1scbtpOI" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/VeR1scbtpOI/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>
  
        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="600">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=BQ14CrQyZCc" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/BQ14CrQyZCc/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>

        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="700">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=GC3As0x10CM" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/GC3As0x10CM/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>
  
        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="800">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=rS-IbLbnCc4" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/rS-IbLbnCc4/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>

        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="900">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=FrD5e98oFLA" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/FrD5e98oFLA/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>
  
        <div class="col-lg-6" data-aos="flip-right" data-aos-delay="1000">
          <figure class="img-play-video">
            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=ggcsd08LXFA" data-fancybox>
              <span></span>
            </a>
            <img src="https://img.youtube.com/vi/ggcsd08LXFA/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
          </figure>
        </div>
         
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<%- include('../partials/footer'); -%>
