<%- include('partials/header'); -%>

<div class="background-about">
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">About</h1>
            <p class="text-white"> Know more about me. </p>
            <a href="/contact"><input type="submit" class="btn btn-primary" value="Contact Me"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center">
        <h2 class="section-title mb-3 text-center">Fadhel Kaboub</h2>
        <p>Bio</p>
      </div>
      <div class="col-md-12">
        <p>Fadhel Kaboub is an Associate Professor of economics at <i><a href="https://denison.edu/">Denison University</a></i> (on leave) and President of the <i><a href="https://www.global-isp.org/">Global Institute for Sustainable Prosperity</a></i>. He currently serves as the Under-Secretary-General for Financing for Development at the <i><a href="https://oec-oce.org/en/">Organisation of Educational Cooperation</a></i> in Addis Ababa, Ethiopia.  He also held a number of research affiliations with the <i><a href="https://www.levyinstitute.org/">Levy Economics Institute</a></i>, the John F. Kennedy School of Government at Harvard University, <i><a href="https://erf.org.eg/">the Economic Research Forum (Cairo)</a></i>, <i><a href="https://www.powershiftafrica.org/">Power Shift Africa (Nairobi)</a></i>, and the <i><a href="https://cesma.tn/en/">Center for Strategic Studies on the Maghreb (Tunis)</a></i>.  As a teacher, scholar, and policy advisor during the last 20 years, Dr. Kaboub’s work has focused on designing public policies to enhance monetary and economic sovereignty in the Global South, build resilience, and promote equitable and sustainable prosperity.</p>
        <br>
        <img src="images/kaboub/kaboub-1.jpg" class="rounded-20 mb-5 mx-auto d-block" alt="Kaboub Image" style="height: 350px; width: auto;">
        <p>Dr. Kaboub is an expert on Modern Monetary Theory (MMT), the Green New Deal, the Job Guarantee, and Reparations. He is a widely published author and his recent work has been presented at many prestigious institutions including the Harvard Kennedy School of Government, Harvard Law School, Cornell University, Columbia University, Duke University, Sorbonne University, and the National University of Singapore.</p>
        <br>
        <br>
        <img src="images/kaboub/kaboub-2.jpeg" class="rounded-20 mb-5 mx-auto d-block" alt="Kaboub Image" style="height: 350px; width: 500px;">
        <p> His academic work has been published in the <i>Journal of Economic Issues, Review of Keynesian Economics, Review of Radical Political Economics, Review of Social Economy, International Journal of Political Economy, Middle East Development Journal, and International Labour Review.</i> Some of his recent media commentaries on climate change, jobs, development, finance, and Africa and Middle East economies have appeared in the <i>New York Times,  Financial Times, Bloomberg, Le Monde, The Guardian, La Croix, Al-Jazeera, France 24, Deutsche Welle, The Hill TV, Radio France Internationale, Asharq News, Al Hurra TV, CGTN Africa, National Public Radio, Jeune Afrique, New Inquiry, BBC Mundo, Carta Maior, Express FM, Assabah News, Le Quotidien, and La Presse.</i></p>
        <br>
      </div>
    </div>
  </div>
</div>

<section id="clients" class="clients section-bg">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-7">
        <h2 class="section-title text-center">As appeared in</h2>
      </div>
    </div>
    <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images/media/blb.png" class="img-fluid" alt="" data-aos="flip-right">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\ft.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\dw.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\tg.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\lm.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\f24.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\aljazeera.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="600">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\ashnews.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="700">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\nyt.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="800">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\cgtn.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="900">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\theweek.svg" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="1000">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\alhurra.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="1100">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="untree_co-section">
  <div class="container">
    <div class="row ">

      <div class="col-lg-6 mb-5">
        <figure class="img-play-video">
          <img src="images/kaboub/kaboub-3.jpg" alt="Image" style="height: 450px; width: 280;" class="img-fluid rounded-20">
        </figure>
      </div>

      <div class="col-lg-5">
        <h2 class="section-title text-left mb-4">Education - Degree(s)</h2>
        <p>Dr. Kaboub earned his bachelor’s degree in economics from the University of Tunis – El Manar, and his Master’s and Ph.D. in economics from the University of Missouri-Kansas City.</p>

        <p class="mb-4">Before joining Denison University in 2008, he taught at Simon’s Rock College of Bard (Massachusetts) and at Drew University (New Jersey) where he also directed the Wall Street Semester Program.</p>
        <p><a href="/publications/academicSpace" class="btn btn-primary">See Publications</a></p>
        
      </div>
    </div>
  </div>
</div>


<!-- Contact Section -->
<div class="py-5 cta-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-2 text-white">Contact</h2>
        <p class="mb-4 lead text-white text-white-opacity">Let's Connect! Reach out to me</p>
        <p class="mb-0"><a href="/contact" class="btn btn-outline-white text-white btn-md font-weight-bold">Click Here</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
