<%- include('partials/header'); -%>
<div class="background-home">
  <div class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12" style="text-align: center">
          <div class="intro-wrap">
            <h1 class="mb-5"><span class="d-block">Fadhel Kaboub</span><span>Economist · Diplomat · Teacher</span></h1>
          </div>
          <a href="/contact"><input type="submit" class="btn btn-primary" value="Contact Me"></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="untree_co-section" style="padding-top: 0px;">
  <div class="container">
    <div class="row mb-1 justify-content-center">
      <div class="col-lg-6 text-center">
        <h2 class="section-title text-center mb-3">Short Bio</h2>
      </div>
    </div>
    <div class="row align-items-stretch justify-content-center">
      <div class="col-lg-4 order-lg-1">
        <div class="h-100">
          <div class="frame h-100">
            <div class="feature-img-bg h-100" style="background-image: url('images/kaboub/Kaboub-formal.JPG');"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 feature-1-wrap flex-md-column order-lg-1">
        <p>Fadhel Kaboub is an Associate Professor of economics at<a href="https://denison.edu/"> Denison University</a> (on leave) and President of the <a href="https://www.global-isp.org/">Global Institute for Sustainable Prosperity</a>.<br> He currently serves as the Under-Secretary-General for Financing for Development at the <a href="https://oec-oce.org/en/">Organisation of Educational Cooperation</a> in Addis Ababa, Ethiopia. <br><br>  He also held a number of research affiliations with the <a href="https://www.levyinstitute.org/">Levy Economics Institute</a>, the John F. Kennedy School of Government at Harvard University, the <a href="https://erf.org.eg/">Economic Research Forum (Cairo)</a>, <a href="https://www.powershiftafrica.org/">Power Shift Africa (Nairobi)</a>, and the Center for Strategic Studies on the Maghreb (Tunis). <br><br> As a teacher, scholar, and policy advisor during the last 20 years, Dr. Kaboub’s work has focused on designing public policies to enhance monetary and economic sovereignty in the Global South, build resilience, and promote equitable and sustainable prosperity. Dr. Kaboub is an expert on Modern Monetary Theory (MMT), the Green New Deal, the Job Guarantee, and Reparations. </p>
        <a href="/about"> <button class="btn btn-primary" type="button" name="button">Know More</button></a>
      </div>

    </div>
  </div>
</div>

<!-- Media Appearance -->

<section id="clients" class="clients section-bg" style="margin: 50px 0;">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-7">
        <h2 class="section-title text-center">As appeared in</h2>
      </div>
    </div>
    <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images/media/blb.png" class="img-fluid" alt="" data-aos="flip-right">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\ft.png" style="height: 80px;" class="img-fluid" data-aos="flip-right" data-aos-delay="100">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\dw.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\tg.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\lm.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\f24.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\aljazeera.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="600">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\ashnews.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="700">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\nyt.png" style="height: 80px;" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="800">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\cgtn.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="900">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\theweek.svg" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="1000">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="client-logo">
          <img src="images\media\alhurra.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="1100">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <div class="untree_co-section twitter">
  <div class="container">
    <div class="row text-center justify-content-center mb-5">
      <div class="col-lg-7">
        <h2 class="section-title text-center" style="color: white;">Twitter</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <a class="twitter-timeline" data-lang="en" data-width="450" data-height="700" data-theme="dark" href="https://twitter.com/FadhelKaboub?ref_src=twsrc%5Etfw">Tweets by FadhelKaboub</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div> -->

<div class="untree_co-section twitter" style="color: white;">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-6">
        <figure class="img-play-video">
          <div class="row justify-content-center">
            <a class="twitter-timeline" data-lang="en" data-width="450" data-height="700" data-theme="dark" href="https://twitter.com/FadhelKaboub?ref_src=twsrc%5Etfw">Loading...</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </figure>
      </div>

      <div class="col-lg-5">
        <h2 class="section-title text-left mb-4">Twitter</h2>
        <p><a href="https://twitter.com/FadhelKaboub" class="btn btn-primary">Follow Now</a></p>

      </div>
    </div>
  </div>
</div>


<div class="untree_co-section testimonial-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2 class="section-title text-center mb-5">Quotes by Fadhel Kaboub</h2>

        <div class="owl-single owl-carousel no-nav">
          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"We can't democratize, nor can we decarbonize, a system that hasn't been decolonized yet."</i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"Africa’s industrial strategy cannot prioritize the needs of the Global North by continuing to serve as the source of cheap raw materials and low cost assembly line workers."</i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"The reality of an economically sovereign, resilient, prosperous, just, and equitable African continent is within reach, and it begins by educating, organizing, and mobilising millions of Africans to decolonise their economies, their educational systems, and every aspect of post-colonial institutions."</i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"In order to accelerate the transition to a real-life Wakanda, there is a case to be made for a substantial transfer of financial and technological sources from the Global North to the Global South. This is not a plea for help or charity. This is a call for climate, colonial, and neocolonial Reparations."</i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"If Africa doesn't have a coherent long-term strategic vision for itself, it will continue to be part of the Global North's strategic vision."</i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"If the sources of inflation in the Global South are food and energy imports, then how can their central banks successfully target inflation by raising interest rates, when in fact energy prices are controlled by OPEC, and food prices are controlled by ADM, Bunge, Cargill, Glencore, and Louis Dreyfus?  The best way to tame inflation is to invest in food sovereignty and renewable energy sovereignty. Central Banks cannot target inflation; that’s the responsibility of the agriculture ministries and renewable energy commissions."</i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"No more hunger and bread riots, we’ll have food sovereignty.<br>
                No more darkness nor smog, we’ll have clean energy sovereignty.<br>
                We’ll use the sun, the wind, the tides, and even some volcanic energy.<br>
                We’ll end the pain, we’ll end the suffering, we’ll build a truly circular economy.<br>
                We’ll change the metric to guide every public policy.<br>
                We’ll use GPI, laser-focused on quality of life, not some useless GDP."<br>
              </i></p>
            </blockquote>
          </div>

          <div class="testimonial mx-auto">
            <blockquote>
              <p><i>"I’m taking this global Climate Action plan very seriously,<br>
                because I don’t want to end up a Climate Refugee.<br>
                Humanity is longing for genuine global solidarity.<br>
                So join me in this struggle, it’s my final plea.<br>
                I’ll die trying if I have to, for this better future is within reach, and it’s yearning to be set free."</i><br>
                </p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h2 class="section-title text-center mb-3">Recent Works</h2>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2F8c7156da-4246-419b-9ef9-66c8c32d021d.jpg?dpr=1&fit=scale-down&source=next&width=700); background-size: cover;" data-aos="flip-right">
        <div class="col-md-6 px-0">
          <h1 class="display-6 font-italic">Letter: Africa can decarbonise, but it must first decolonise its economy</h1>
          <p class="lead my-3">Post-colonial Africa suffers from three structural deficiencies: the lack of food sovereignty, energy sovereignty and high value-added manufacturing</p>
          <p class="lead mb-0"><a href="https://www.ft.com/content/1976ebc6-f366-42eb-ab18-e9c267d9abd6" style="color: white; outline: auto;" class="font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    
      <div class="row mb-2" data-aos="flip-right" data-aos-delay="100">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Discover Society</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Preparing for a Climate Refugee Tsunami: The Case for Climate Reparations</a>
              </h3>
              <div class="mb-1 text-muted">April 2021</div>
              <p class="card-text mb-auto">The Global North, however, does not face any of the above-mentioned constraints, and has the technological, logistical, and financial capabilities</p>
              <a href="https://discoversociety.org/2021/04/07/preparing-for-a-climate-refugee-tsunami-the-case-for-climate-reparations/" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-6" data-aos="flip-right" data-aos-delay="200">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Tax Justice Network</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Africa’s Path towards Resilience and Sovereignty: the Real Wakanda is within Reach</a>
              </h3>
              <div class="mb-1 text-muted">30 March 2021</div>
              <p class="card-text mb-auto">Africa was not colonised because it was poor, but rather precisely because it was and continues to be a very rich continent</p>
              <a href="https://taxjustice.net/2021/03/30/africas-path-towards-resilience-and-sovereignty-the-real-wakanda-is-within-reach/" style="color: blue;">Continue reading</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Podcast -->

<div class="untree_co-section mb-5 pt-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
  </div>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url();" data-aos="flip-right" data-aos-delay="200">
        <div class="col-md-6 px-0">
          <h1 class="display-6 font-italic">Episode 200 – Africa’s Place in the Multi Polar Order with Fadhel Kaboub</h1>
          <p class="lead my-3">Africa's Place in the Multi-Polar Order with Fadhel Kaboub</p>
          <p class="lead mb-0"><a href="https://realprogressives.org/podcast_episode/episode-200-africas-place-in-the-multi-polar-order-with-fadhel-kaboub" style="color: white; outline: auto;" class="font-weight-bold">Listen Now</a></p>
        </div>
      </div>

      <div class="col-md-6" data-aos="flip-right" data-aos-delay="200">
        <figure class="img-play-video">
          <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=BiKAWeE_xVs" data-fancybox>
            <span></span>
          </a>
          <img src="https://img.youtube.com/vi/BiKAWeE_xVs/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
        </figure>
      </div>

      <div class="col-md-6" data-aos="flip-right" data-aos-delay="200">
        <figure class="img-play-video">
          <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=bYSs9ot-VkM" data-fancybox>
            <span></span>
          </a>
          <img src="https://img.youtube.com/vi/bYSs9ot-VkM/hqdefault.jpg" alt="Image" class="img-fluid rounded-20">
        </figure>
      </div>
        
      </div>
    </div>
  </div>
</div>




<!-- Contact Section -->
<div class="py-5 cta-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-2 text-white">Contact</h2>
        <p class="mb-4 lead text-white text-white-opacity">Let's Connect! Reach out to me</p>
        <p class="mb-0"><a href="/contact" class="btn btn-outline-white text-white btn-md font-weight-bold">Click Here</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
